.wrapper{
	border: double;
	border-radius: 5px;
	border-collapse: collapse;
	max-width: 250px;
}
.wrapper::after {
    content: "";
    clear: both;
    display: table;
}
#butdiv{
	text-align: center;
	float: left;
	height: 150px;
	margin: 25px 0 0 10px;
	
}
button{
	background : lightgreen;
}
#times {
	height: 100px;
	margin: 25px 10px 0 0;
	text-align: center;
	
	
}
#button-reset, #button-stop{
	width: 50px;
}
#button-start {
	width: 100px;
	height: 50px;
}
